# OpenAI Configuration
CS_OPENAI_API_KEY=YOUR_OPENAI_API_KEY
CS_OPENAI_BASE_PATH=https://api.openai.com
CS_OPENAI_MODEL=gpt-3.5-turbo
CS_OPENAI_MAX_TOKEN=1000

# General Configuration
CS_MAX_LENGTH=1000
CS_LANGUAGE=en # ISO 639-1标准
CS_MAX_ITERATION=1 # 
CS_RESPONSE_TYPE=YOUR_RESPONSE_TYPE

# Network Configuration
CS_PROXY=YOUR_PROXY_URL
CS_TIMEOUT=10 # unit: seconds

# List of files to exclude (separated by a comma)
EXCLUDE_FILES=file1.txt,file2.txt,file3.txt
